{% extends 'base.html' %} {% block content %}

<h1>Dog Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ dog.name }}</span>
    <p>Breed: {{ dog.breed }}</p>
    <p>Description: {{ dog.description }}</p>
    {% if cdogage > 0 %}
    <p>Age: {{ dog.age }}</p>
    {% else %}
    <p>Age: Puppy</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'dogs_update' dog.id %}">Edit</a>
    <a href="{% url 'dogs_delete' dog.id %}">Delete</a>
  </div>
</div>
{% for photo in dog.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
<form action="{% url 'add_photo' dog.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
</form>
<div class="col s6">
  <form action="{% url 'add_walking' dog.id %}" method="post">
    {% csrf_token %}
    {{ walking_form.as_p }}
    <input type="submit" class="btn" value="Add Walking">
  </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Time</th><th>Potty</th></tr>
      </thead>
      <tbody>
        {% for walking in dog.walking_set.all %}
          <tr>
            <td>{{walking.date}}</td>
            <td>{{walking.time}}</td>
            <td>{{walking.get_potty_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
 <div class="col s6">
  <h3>{{ dog.name }}'s Food</h3>
  {% if dog.foods.count %}
   {% for food in dog.foods.all %}
    <div class="card">
     <div class="card-content">
      <span class="card-title">
              {{ food.name }} - {{ food.flavor }}
            </span>
    </div>
    <div class="card-action">
    <form action="{% url 'remove_food' dog.id food.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn">Remove</button>
    </form>
  </div>
 </div>
 {% endfor %}
 {% else %}
 <h5>No Food, Bad Owner!!! :(</h5>{% endif %}
</div>
<!-- Available foods will come after this line -->
  <div class="col s6">
    <h3>Available Foods</h3>
    {% if foods.count %}
      {% for food in foods.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ food.name }} - {{ food.flavor }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_food' dog.id food.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{dog.name}} Already Has All Food Available</h5>
    {% endif %}
  </div>
<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  var selectEl = document.getElementById('id_potty');
  M.FormSelect.init(selectEl);

  var timeEl = document.getElementById('id_time');
  M.Timepicker.init(timeEl, {
    defaultTime: 'now',
    twelveHour: false,
  });
</script>
{% endblock %}
